/*Sticky footer*/
.content {
    min-height: calc(100vh - 70px);
    margin-bottom: 30px;
}

.footer {
    height: 50px;
}
/*Abaixo estão algumas configurações comuns a todo o projeto*/
body {
	margin-top: 51px;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	background-color: #ECF1F5;
}

.navbar-default{
	background-color: #DADCEA;
	border-color: #DADCEA
}
.col-sm-offset-3 > h2, 
.col-sm-offset-3 > h1 {
	font-family: "Lobster", Helvetica, Arial, sans-serif;
}


p > a,
p > a:visited {
	border-bottom: 1px dashed;	
	text-decoration: none;
	color: #4169E1;
}

p > a:hover {
	border-bottom: 2px dashed;
	text-decoration: none;
	font-weight: bolder;
	color: #4169E1;
}

.link_footer {
	border-bottom: 0;
}
.link_footer:hover { 
	border-bottom: 0;
}

footer {
	background-color: #000;
	margin-bottom: 0px;
	padding: 26px;
	color: #FFF;
}

/*Abaxo estão as configurações sobre o posicionamento da background-image do header*/

header {
	padding: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFF;
	background-image: url('../imgs/bg.jpg');
	margin-bottom: 10px;
	width: 100%;
}


/* Abaixo estão as configurações da seção de apresentação (section) */

#me {
	width: 30%;
	border-radius: 50%;
}

a > #me,
a > #me:visited {	
	border: 2px solid #9E9696;
	transition: width 0.6s ease;
}

a > #me:hover{
	width: 34%;
	transition: width 0.6s ease;
}

section {
	margin-top: 20px;
	margin-bottom: 20px;
}


/* Abaixo está a media querie para ajustar o header de boas vindas em resoluções acima de 500px de largura*/
@media screen and (min-width: 500px) {
  header {
	min-height: 300px;
  }
  header > div > div {
	margin-top: 50px;
  }
}

/*Abaixo estão as configurações da página de post */
article {
	margin: 20px 0px;
}


/*Abaixo estão as configurações para os paineis da listagem de post */
.tag,
.tag:visited {
	border: 1px solid #333;
	padding: 3px;
	background-color: #f5f5f5;
	color: #333;
	text-decoration: none;
	transition: all 0.6s ease;
}

.tag:hover {
	border: 2px solid #333;
	padding: 5px;
	text-decoration: none;
	transition: all 0.2s linear;
	color: #333;
}

h4 > a,
h4 > a:visited {
	border-bottom: 1px dashed;	
	text-decoration: none;
	color: #4169E1;
}

h4 > a:hover {
	border-bottom: 2px dashed;
	text-decoration: none;
	color: #4169E1;
	font-weight: bolder;
}

.panel, 
.panel-heading {
	border-top-left-radius: 40px;
}


.panel {
	border-bottom-right-radius: 40px;
	/*A box-shadow foi gerada com a ajuda do site http://www.cssmatic.com/box-shadow */
	-webkit-box-shadow: 3px 4px 10px -1px rgba(61,60,61,0.69);
	-moz-box-shadow: 3px 4px 10px -1px rgba(61,60,61,0.69);
	box-shadow: 3px 4px 10px -1px rgba(61,60,61,0.69);
}

/*Config de padding para a página de posts*/
.padding-post-list {
	padding: 1.5em;
}

/*Config padrão do botão de postagens mais novas na página de Posts*/
.pagina-anterior {
	display: none;
}