<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">

  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<!-- Facebook -->
		<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<!-- Linguagem -->
		<meta property="og:locale" content="pt_BR">
		
		<!-- Nome do Site -->
		<meta property="og:site_name" content="{{ site.title }}">

		<!-- Image -->
		<meta property="og:image" content="http://mateusduraes.github.io/imgs/bg.jpg">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="400">
		<meta property="og:image:height" content="300">
		
		<!-- Title -->
		{% if page.title %}
			<meta property="og:title" content= "{{ page.title | prepend: site.title }}" />		
		{% else }
			<meta property="og:title" content= "{{ 'Blog de Desenvolvimento' | prepend: site.title }}" />
		{% endif }
		

		<!-- Tipo -->
		<meta property="og:type" content="blog" />
		
		<!-- Resumo -->
		{% if page.resumo %}
		<meta property="og:description" content= "{{ page.resumo }}" />
		{% else %}
		<meta property="og:description" content= "Um blog sobre desenvolvimento. Encontre posts sobre Java, JavaScript, PHP, Linux e SQL" />
		{% endif %}
	<!-- Fim Facebook-->
	

	<title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

	<link rel="shortcut icon" href="/imgs/icon.png" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/bootstrap/bootstrap.min.css" | prepend: site.baseurl  }}">
  	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>
