<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Facebook -->
		<!-- Image -->
		<meta property="og:image" content="http://mateusduraes.github.io/imgs/bg.jpg">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="800">
		<meta property="og:image:height" content="600">
		
		<!-- Title -->
		<meta property="og:title" content="{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}" />

		<!-- Tipo -->
		<meta property=”og:type” content=”blog“ />
		
		<!-- Resumo -->
		{% if page.resumo %}
		<meta property=”og:description” content= "{{ page.resumo }}" />
		{% else %}
		<meta property=”og:description” content= "Um blog sobre desenvolvimento. Encontre posts sobre Java, JavaScript, PHP, Linux e SQL" />
		{% endif %}
	<!-- Fim Facebook-->

	<title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

	<link rel="shortcut icon" href="/imgs/icon.png" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/bootstrap/bootstrap.min.css" | prepend: site.baseurl  }}">
  	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>
