<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include nav.html %}
    {% include header.html %}

   
        {{ content }}
     

    {% include footer.html %}

    <script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  <!-- Script para trocar o botão ativo do NAV -->
  <script>
    $(document).ready(function () {
            $('.{{ page.pagina }}').addClass('active');
      }); 
  </script>

  <!-- Imports -->
  <script src="/js/paginacao.js" ></script>
  <script src="/js/redes-sociais.js"></script>


  </body>

</html>
